body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #222;
  transition: background-color 0.5s, color 0.5s;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #142234, #007bff);
  color: white;
  padding: 10px 40px;
  box-shadow: 0 3px 10px rgba(0, 0, 0 0.15);
  position: relative;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 100px;
  width: auto;
  transition: transfrom 0.3s ease;
}

header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 1.9rem;
  font-weight: 600;
}

#darkModeToggle {
  background: white;
  color: #5d6f86;
  border: none;
  padding: 8px 18px;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3 ease;
  box-shadow: 0.2 6px rgba(0, 0, 0 0.2);
  margin-right: 10px;
}

#darkModeToggle:hover {
  background: #004aad;
  color: white;
  transform: scale(1.1);
}

main {
  max-width: 900px;
  margin: 30px auto;
  background: white;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 0 20px rgba(0, 0, 0 0.1);
  animation: fadeIn 0.6s ease-in;
}

.form-section {
  margin-bottom: 30px;
}
.form-group {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

input {
  padding: 8px;
  border: 1px solid  #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.btn-add {
  background-color: #00509e;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, backgroud 0.3s;
}

.btn-add:hover {
  background-color: #007bff;
  transform: scale(1.05);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #00509e;
  color: white;
}

tr:hover {
  background-color: #eaf3ff;
  transition: backround 0.3s;
}

.btn-hapus {
  background : crimson;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-hapus:hover {
  background: #ff4d4d;
}

.btn-submit {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #0080ff;
  transform: translateY(-2px)
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  inset: 0;
  background: rgba(0, 0, 0 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  animation: popUp 0.4s ease;
}

body.dark {
  background-color: #1c1c1c;
  color: #f5f5f5;
}

body.dark main {
  background-color: #2a2a2a;
}

body.dark th {
  background-color: #222;
}

body.dark tr:hover {
  background-color: #333;
}

body.dark #dakModeToggle {
  background: #333;
  color: #f5f5f5;
  box-shadow: 0 2px 6px rgba(255, 255, 255, 0.1);
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}

@keyframes popUp {
  from {transform: scale(0.8); opacity : 0;}
  to {transform: scale(1); transform: 1;}
}

footer {
  margin-top: 40px;
  background: linear-gradient(90deg #004aad, #007bff);
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-weight: 500;
  letter-spacing: 0.5px;
  box-shadow: 0 -3px 8px rgba(0, 0, 0 0.2);
  position: relative;
  overflow: hidden;
}

footer p {
  margin: 0 ;
  animation: fadeFooter 4s infinite alternate ease-in-out;
}

footer::before {
  content: "";
  position: absolute;
  top:0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, rgba (255, 255, 255, 0,3) transparent, rgba (255, 255, 255, 0,3) );
  animation:  moveLight 6s linear infinite;
}

body.dark footer {
  background:  linear-gradient(90deg, #111, #222 );
  color: #f5f5f5;
  box-shadow:  0 -2px 6px (255,255,255,0.1);
}

body.dark footer::before {
  background: linear-gradient(90deg, rgba(255,255,255, 0.2));
}

@keyframes moveLight {
  from{ transform: translateX(-50%);}
  to { transform: translateX(50%);}
}

@keyframes fadeFooter {
  from { opacity: 0.8; letter-spacing: 0.3px;}
}
